*{
	font-family: verdana;
}
body{
	color: black;
}

.abuelo .titulo {
	color: red
}

.abuelo>.titulo {
	color: blue
}

.tipo2 {
	font-family: "times new roman";
	color: darkorange;
}

a{
	color: inherit;
}