*{
	font-family: verdana;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

body{
	color: black;
}

header {
	position: relative; /* para centrar */
	margin: 10px auto;      /* en la página */
	width: 1000px;
	height: 120px;
	background: #444;
}

nav {
	position: relative; /* para centrar */
	margin: 10px auto;      /* en la página */
	width: 1000px;
	height: 50px;
	background: #888;
}

#top{
	position: relative; /* para centrar */
	margin: 10px auto;      /* en la página */
	width: 1000px;
	height: 200px;
	background: #666;
}

section {
	position: relative; /* para centrar */
	margin: 10px auto;      /* en la página */
	width: 1000px;
	height: 800px;
	background: #ddd;
}
.abuelo .titulo {
	color: red
}

.abuelo>.titulo {
	color: blue
}

.tipo2 {
	font-family: "times new roman";
	color: darkorange;
}

a{
	color: inherit;
}