*{
	font-family: verdana;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

body{
	color: black;
}

header {
	position: reltive;
	margin: auto;
	width: 1000px;
	height: 120px;
	background: #444;
}

.abuelo .titulo {
	color: red
}

.abuelo>.titulo {
	color: blue
}

.tipo2 {
	font-family: "times new roman";
	color: darkorange;
}

a{
	color: inherit;
}